<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModelMaking(Ipad).ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>0</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C9CA07515A4A04EF9FCE921B5578E6F802A131B6</string>
				<key>dateExpires</key>
				<string>09/01/2024</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C9CA07515A4A04EF9FCE921B5578E6F802A131B6</string>
						<key>dateExpires</key>
						<string>09/01/2024</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>UnityFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>Y38XQ7EWLB</string>
						<key>name</key>
						<string>Irfan Jabbar</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Y38XQ7EWLB.com.lazulite.DatamenaRelease</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Y38XQ7EWLB</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ModelMaking(Ipad).app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86143509-1164-40e9-8387-5474b479e729</string>
				<key>dateExpires</key>
				<string>09/01/2024</string>
				<key>name</key>
				<string>Datamena</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Y38XQ7EWLB</string>
				<key>name</key>
				<string>Irfan Jabbar</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
